<div *ngIf="navBar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/dashboard">Roster Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="getDeveloperRole() || getTeamLeaderRole()" class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li *ngIf="getTeamLeaderRole()" class="nav-item">
            <a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a>
          </li>
          <li *ngIf="getDeveloperRole() || getTeamLeaderRole()" class="nav-item">
            <a class="nav-link" routerLink="/teams" routerLinkActive="active">Teams</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="logOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
